@page "{id:int?}"
@model Proiect_MDP_Web.Pages.Magazine.IndexModel

@{
    ViewData["Title"] = "Magazine";
}

<h1>Magazine</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Magazin[0].DenumireMagazin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MagazinData.Magazine) {
        string selectedRow = "";
        if (item.ID == Model.MagazinID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.DenumireMagazin)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.MagazinData.Rachete != null)
{
    <h3>Rachete Edited by Selected Magazin</h3>
    <table class="table">

        @foreach (var item in Model.MagazinData.Magazine)
        {
            string selectedRow = "";
            if (item.ID == Model.MagazinID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Rachete)
                        {

                            @b.Denumire  @: @b.Firma.DenumireFirma

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}